openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
    Dokumentasi API untuk Aplikasi dari Cloud function
  termsOfService: https://github.com/Rumahkopi/swagger
  contact:
    email: masyahida4@gmail.com
  license:
    name: Backend Package
    url: https://pkg.go.dev/github.com/Rumahkopi/rkbackend
  version: 1.0.11
externalDocs:
  description: Website
  url: https://rumahkopi.github.io/
servers:
  - url: https://asia-southeast2-msyahid.cloudfunctions.net
tags:
  - name: auth
    description: Authentikasi
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/Rumahkopi/rkbackend
  - name: admin
    description: Pengelolaan Data Produk
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/Rumahkopi/rkbackend
paths:
  /Login:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get Admin Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
  /InsertDataProduk:
    post:
      tags:
        - admin
      summary: Insert Produk
      description: Insert Data Produk 
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Produk'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '405':
          description: Invalid input          
      security:
        - Token:
          - write:apiKey
          - read:apiKey
  /GetDataProduk:
    get:
      tags:
        - admin
      summary: Get Data Produk
      description: Get Semua Data Produk
      operationId: GetdataProduk
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/responseData'
        '400':
          description: Invalid status value
      security:
        - Token:
          - write:apiKey
          - read:apiKey
  /UpdateDataProduk:
    put:
      tags:
        - admin
      summary: Update Produk
      description: Update Produk
      operationId: updateProduk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Produk'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProdukResponse'
        '405':
          description: Invalid input
      security:
        - Token:
            - write: apiKey
            - read: apiKey
  /DeleteDataProduk:
    delete:
      tags:
        - admin
      summary: Delete Produk
      description: Delete Produk
      operationId: deleteProduk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Produk'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProdukResponse'
        '405':
          description: Invalid input
      security:
        - Token:
            - write: apiKey
            - read: apiKey

components:
  schemas:
    Response:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: Berhasil Input data dengan ID 
    Auth:
      type: object
      properties:
        username:
          type: string
          example: syahid
        password:
          type: string
          example: kepo
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: Selamat Datang
        token:
          type: string
          example: anjasss
    Produk:
      type: object
      properties:
        nama:
          type: string
          example : Kopi Aren
        harga:
          type: string
          example: Rp 12.000
        deskripsi:
          type: string
          example: Kopi Nikmat 
        stok:
          type: string
          example: 123
    UodateProduk:
      type: object
      properties:
        _id:
          type: string
          example : string
        nama:
          type: string
          example : Kopi Aren
        harga:
          type: string
          example: Rp 12.000
        deskripsi:
          type: string
          example: Kopi Nikmat 
        stok:
          type: string
          example: 123
    responseData:
      type: object
      properties:
        nama:
          type: string
          example: string
        harga:
          type: string
          example: string
        deskripsi:
          type: string
          example: String
    ProdukResponse:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: uhuyyy
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    AdminArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    Token:
      type: apiKey
      name: Token
      in: header

      